
  body,
  html,
 
.leaflet-container {
  width: 100vw !important;
  height: 100vh !important;
}

.MuiGrid-item {
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
}