

.custom_icon {
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  background-color: darkred;
  border: 2px solid lightcyan
}


.CountryFlag {
  padding-right: 10px;
    width: 15px;
    height: 15px;
}

.SummaryDashboard {
    text-align: center;
    color: white;
    background-color: #263238;
    border-top: 1px solid black;
    strong {
      color: #90a4ae;
    }



}
 